<footer>
  <small>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  Made with <span style="font-size:1.2rem;color:red;">&#10084;</span> 
 <span class="social">
	<a href="https://twitter.com/zachleat" class="social_icon icon-twitter" title="@sillygrinch on Twitter"><svg width="28" height="28" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin" aria-hidden="true" focusable="false"><use xlink:href="#icon-twitter"></use></svg><span class="a11y-only"> Twitter</span></a>
	<a href="https://github.com/zachleat/" class="social_icon icon-github" title="@sillygrinch on GitHub"><svg width="28" height="28" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin" aria-hidden="true" focusable="false"><use xlink:href="#icon-github"></use></svg><span class="a11y-only"> GitHub</span></a>
 <a href="https://linkedin.com/maitreyeejoshi/" class="social icon icon-linkedin" title="@MaitreyeeJoshi on linkedin"><svg width="28" height="28" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin" aria-hidden="true" focusable="false"><use xlink:href="#icon-linkedin"></use></svg><span class="a11y-only">Linkedin</span></a>

</span><!-- /.social -->
  </small>
</footer>

