<footer>
  <small>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  Made with <span style="font-size:1.2rem;color:red;">&#10084;</span> 
  </small>
</footer>
