<footer>
  <small>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  Made with <span style="color:red;">&#10084;</span> 
  <a href="https://twitter.com/sillygrinch" class="fa fa-twitter"></a>
  <a href="https://www.linkedin.com/in/maitreyeemjoshi/" class="fa fa-linkedin"></a> 
  <a href="https://www.instagram.com/maitreye.joshi/" class="fa fa-instagram"></a>

  </small>
</footer>
