---
layout: layouts/base.njk
section: Though Bubbles
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
